.jumbotron {
  background-image: url(../../images/Main-Banner.png);
  background-size: cover;
  background-position: center;
  max-height: 100%;
  background-blend-mode: darken;
}

.lluvia-logo {
  width: 50%;
  height: auto;
}