.App {
  height: 100%;
  width: 100%;
}

.clothing-carousel-container {
  padding-top: 2%;
  background-color: #f8f9fa;
  width: 100%;
}

.footer-container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: centers;
}